/* Numbers Section */
#numbers {
    text-align: center;
    margin: 50px auto;
    max-width: full;
    padding: 40px 20px;
  }
  
  /* Container for the stats */
  .numbers-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; 
  }
  
  /* Individual Stat Cards */
  .number-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem; 
    color:  #043A53;
    min-width: 120px; 
  }
  
  /* Text under each number */
  .number-card p {
    margin-top: 10px;
    font-size: 1rem;
    color:  #404040;
    font-weight: 400;
  }
  
  /* Responsive for Mobile */
  @media (max-width: 768px) {
    .numbers-container {
      gap: 20px;
    }
  
    .number-card {
      font-size: 1.6rem; 
    }
  
    .number-card p {
      font-size: 0.95rem;
    }

    #numbers {
      text-align: center;
      margin: 20px auto;
      max-width: full;
      padding: 20px 40px;
    }
  }
  